footer {
    background-color: #EB9007;
    font-size: 15px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-top: 3px solid black;


    &__redes {
        display: flex;
        flex-direction: column;
    
    }

    &__section {
        display: flex;
        flex-direction: column;
    }
}

.footerSep {
    display: flex;
    justify-content: space-around;
}

.link-instagram {
    font-size: 14px;
    margin: 5px;
}

.link-facebook {
    font-size: 14px;
    margin: 5px;
}