
.hero {
    background-image: linear-gradient(90deg, #8c8c8c, #a7a7a7);
    padding: 50px 20px;
    color: #e2e8f0;
}
  
.hero__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
}

.hero__grid-content {
    max-width: 100%;
    background-color: rgb(223, 223, 223);
    padding: 20px;
    border-radius: 15px;
}
  
.hero__grid-content h1 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 20px;
}
  
.hero__grid-content p {
    margin-bottom: 40px;
    color: #242424;
}
  
.hero__grid-img {
    display: grid;
    grid-template-columns: 100px 1fr;
    border-radius: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.black {
    color: black;
}

.card {
    background-color: rgb(223, 223, 223);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 20px 50px -12px rgba(0, 0, 0, 0.5);
    max-width: fit-content;
    transition: transform 0.3s;
}

.card img {
    object-fit:cover;
}

.card:hover {
    transform: translateY(-10px);
}
  

.card__header {
    width: 100%;
    position: relative;
}

.spaceTop {
    padding-top: 10px;
}

.card img {
    width: 100%;
    border-radius: 15px;
}

.card a {
    background-color: #EB9007;
    color: black;
    width: 92%;
    display: inline-block;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s;
}

.card a:hover {
    background-color: #1e223c;
    color: white;
}

.card__header--strong {
    background-color: rgba(255, 255, 255, 0.5);
    color: #242424;
    padding: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card__description {
    margin-bottom: 30px;
}

/*
.card__link {
    background-color: #EB9007;
    color: black;
    width: 92%;
    display: inline-block;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s;
}
*/

.expo {
    background-color: rgb(223, 223, 223);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 20px 50px -12px rgba(0, 0, 0, 0.5);
    max-width: fit-content;
}

.prop {
    display: grid;
}

.prop__grid { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20px; 
    padding-top: 20px; 
    gap: 25px;
}

.linea {
    display: inline;
}

.bloque {
    display: block;
}

.ocultar {
    display: none;
}

.link {
    display: flex;
    justify-content: end;
    color: black;
}

.link-instagram {
    font-size: 10px;
    margin: 5px;
}

.lkSon {
    color: black;
    display: inline;
}


.linkAc {
    display: flex;
    justify-content: end;
    color: black;
}


/* .subt {
    position: relative;
    left: 75px;
    top: 10px;
}  
*/
.topBar {
    align-items: center;
}

.logo {
    border-radius: 15px;
    box-shadow: 0 20px 50px -12px rgba(0, 0, 0, 0.5);
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
}

.logo:active {
    box-shadow: 2px 2px 5px #242424;
}

.logoAj {
    border-radius: 15px;
    box-shadow: 0 20px 50px -12px rgba(0, 0, 0, 0.5);
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
}

.logoBp {
    border-radius: 15px;
    box-shadow: 0 20px 50px -12px rgba(0, 0, 0, 0.5);
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
}

.linkBp {
    display: flex;
    justify-content: end;
    color: black;
}

.footerSep {
    display: flex;
    justify-content: space-around;
}

.footer__redes {
    display: flex;
    flex-direction: column;
    
}

.footer__section {
    display: flex;
    flex-direction: column;
}

.topHl {
    position: relative;
    left: 75px;
    top: 10px;
}

.topH2 {
    display: inline;
    position: relative;
    left: 75px;
    top: 20px;
}

.titleP {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    justify-content: end;
    background-color: rgb(223, 223, 223);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 20px 50px -12px rgba(0, 0, 0, 0.5);
    max-width: fit-content;
}

.form__title {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.form__content {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 35px;
}

.form__content label {
    padding-bottom: 15px;
}

.conRedes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 15px;
}

@media (max-width: 540px) {
    .linkAc {
        display: none;
}
}


@media (min-width: 785px) {
    .prop__grid {
        width: 100%;
    }
}


@media (max-width: 440px) {
    .prop__grid { 
        display: flex;
        flex-wrap: wrap;
    }

    .footerSep {
        display: flex;
        justify-content: flex-start;
    }

    .footer__redes {
        padding-left: 10px;
    }

    .lkV2 {
        display: none;
    }

    .spaceTop {
        padding-top: 20px;
    }
}


@media (max-width: 992px) {
    .prop__grid {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 387px) {
.prop__grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 865px) {  
    .link {
      display: none;
    }
}

@media (max-width: 655px) {
    .linkBp {
        display: none;
    }

    .logoBp {
        padding-top: 8px;
    }

}

@media (max-width: 565px) {
    .conRedes {
        grid-template-columns: repeat(1, 1fr);
    }
}